.join__chat {
  transition: all 0.3s ease;  
}

.join__chat:hover {
  transform: scale(1.1); 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}


.create__chat {
  transition: all 0.3s ease;  
}

.create__chat:hover {
  transform: scale(1.1); 
  box-shadow: 0 0 20px rgba(61, 66, 223, 0.8);
}


.wrapper__chat {
  transition: all 0.5s ease-in-out;
}

.wrapper__chat.active {
  transform: translateY(200%);
}
